{% extends 'wrangler/homepage.html' %}

{% block style %}
<style>
    .accordion-trigger {
        margin-bottom: 5px;
    }

    .accordion-trigger:after {
        content: '\2795\fe0e';
        font-size: 100%;
        margin-left: 2%;
        position: fixed;
        transform: translate(-20px, 7.5px);
    }
    
    .active:after {
        content: '\2796\fe0e';
    }

    .accordion-content {
        padding: 0 18px;
        margin: 0;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    table, th, td {
        border: 1px solid;
    }

    .response-table {
        width: 100%;
        margin: auto;
    }

    .name-col {
        width: 75px;
    }

    @media (max-width: 992px) {
        .accordion-trigger:after {
            content: '\2795\fe0e';
            font-size: 250%;
            margin-left: 2%;
            position: relative;
            transform: translate(0px, 15px);
        }
        
        .active:after {
            content: '\2796\fe0e';
        }
    }


</style>
{% endblock %}

{% block content %}
    <span class="header">{{event.name}}</span>
    <br>
    <span class="para-text">{{event.description}}</span>
    
    <br>
    <hr>

    <div class="accordion-trigger">
        <span class="header-2">Your response</span>
    </div>
    <form method="POST" class="accordion-content response-form" action="/submitresponse/">
        {% for t in event.times %}
            <input type="checkbox" name="time-option-{{t}}" id="time-option-{{t}}">
            <label for="time-option-{{t}}" class="para-text">{{t}}</label>
            <br>
        {% endfor %}
        <input type="hidden" value="{{user.username}}" name="submitter" hidden>
        <input type="hidden" value="{{event.uid}}" name="event" hidden>
        {% csrf_token %}

        <label for="save-response-bttn" class="bttn"><span class="bttn-label-text">Save response</span></label>
        <input type="submit" id="save-response-bttn" style="display: none;">
    </form>

    <hr>

    <div class="accordion-trigger">
        <span class="header-2">Other responses</span>
    </div>
    <div class="accordion-content">
        {% if submissions %}
        <div style="overflow-x: auto; white-space: nowrap;">
            <table class="response-table para-text">
                <tr>
                    <th class="name-col">Name</th>
                <!-- make a column for each date/time -->
                {% for t in event.times %}
                    <th>{{t}}</th>
                {% endfor %}
                </tr>

                {% for s in submissions %}
                <tr>
                    <td>{{s.submitter}}</td>
                    {% for d in s.data %}
                        {% if d.response == True %}
                        <td style="background-color: #97ffc4;">Yes</td>
                        {% else %}
                        <td style="background-color: #ffaaaa;">No</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <span class="para-text">No responses yet</span>
        {% endif %}
    </div>
    
    <hr>
    
    <script>
        trigs = document.getElementsByClassName("accordion-trigger");

        document.addEventListener("DOMContentLoaded", function() {
            if (trigs)
            {
                trigs[0].classList.add("active");
                var content = trigs[0].nextElementSibling;
                content.style.maxHeight = content.scrollHeight + "px";
            }
        })
        
        for (var i = 0; i < trigs.length; i++)
        {
            trigs[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
{% endblock %}