{% extends 'wrangler/homepage.html' %}

{% block style %}
<style>
    .login-form-container {
        padding: 20px;
        padding-top: 5px;
        border-radius: 10px;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
    }

    .login {
        display: block;
    }

    .bttn {
        width: 30%;
        margin-top: 3%;
    }

    @media (max-width: 992px) {
        .bttn {
            width: 60%;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="login-form-container">
    <span class="header center">Login</span>
    <form method="post" class="login">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        
        <label class="bttn" for="submitbtn"><span class="bttn-label-text"><b>Log in</b></span></label>
        <input type="submit" id="submitbtn" style="display: none;"></input>
    </form>
</div>
{% endblock %}