{% extends 'wrangler/homepage.html' %}

{% block style %}
<style>
    .login {
        display: block;
    }

    .bttn {
        width: 30%;
        margin-top: 3%;
    }

    @media (max-width: 992px) {
        .bttn {
            width: 60%;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="form-container">
    <span class="header center">Login</span>
    <form method="post" class="login">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        
        <label class="bttn" for="submitbtn"><span class="bttn-label-text"><b>Log in</b></span></label>
        <input type="submit" id="submitbtn" style="display: none;"></input>
    </form>
    
    <a href="{% url 'signup' %}" class="header-3 center-block alink">Create account</span>
</div>
{% endblock %}